<footer class="fixed bottom-0 w-full font-poppins bg-green-300 p-4">
    <div class="flex justify-between items-center mx-1 font-semibold">
        <div>
            <span>Jl. Telekomunikasi No.1 Terusan buahbatu</span><br>
            <span>1st. CoE Green Technology, FIT, Telkom University</span><br>
            <span>Copyright@CoE Green Technology</span>
        </div>
        <div>
            <span>www.greentech.center.telkomuniversity.ac.id</span><br>
            <span>greentech@telkomuniversity.ac.id</span><br>
            <span>Unang Sunarya</span>
        </div>
    </div>
</footer>