{% extends 'core/base.html' %}

{% load static %}

{%block content %}
<section class="ml-7 ">
    <div class="mt-1.5">
        <div class="flex justify-start items-center gap-10 pt-3">
            <div class="border-b-0"> <img src="{% static 'images/unangsunarya.jpg' %}" alt="Unang Sunarya" class="w-40 h-52 rounded-full shadow-2xl"></div>
            <div>
                <span class="text-3xl">Unang Sunarya, Ph.D</span>
            </div>
        </div>

        <div class="flex mt-10 pt-14">
            <div class="w-1/2 p-4">
                <h3 class="font-semibold text-2xl mb-2">PROFILE</h3>
                <P>
                    <strong>Unang Sunarya </strong> received a Ph.D. degree from the Computer Engineering Department, Kwangwoon University, South Korea, a Bachelor and Master from Electrical Engineering Department, Telkom University, Indonesia. His research interests include artificial intelligence, biomedical engineering, Internet of Things robotics, and signal processing.
                </P>
            </div>
            <div class="w-1/2 pl-6 py-0 leading-loose">
                <span class="flex items-center gap-2"><img src="{% static 'images/logo-whatsapp.svg'%}" alt="contact" class="h-6 w-6">+62 813-9402-3684</span>
                <span class="flex items-center gap-2"><img src="{% static 'images/mail.svg'%}" alt="Email" class="h-6 w-6">unang_sunaryo@telkomuniversity.ac.id</span>
                <span class="flex items-center gap-2"><img src="{% static 'images/home.svg'%}" alt="Home" class="h-6 w-6">Jl. Telekomunikasi No.21 Terusan Buahbatu, Bandung, Indonesia</span>
                <span class="flex items-center gap-2"><img src="{% static 'images/globe.svg'%}" alt="Website" class="h-6 w-6">greentech.center.telkomuniversity.ac.id</span>
            </div>
        </div>
        <div class="flex mt-10 pt-10 ">
            <div class="w-1/2 p-4">
                <h3 class="font-semibold text-2xl mb-2">EDUCATION</h3>
                <ul class="leading-relaxed">
                    <li>2023 - Ph.D., Kwangwoon University, South Korea</li>
                    <li>2012 - Master, Telkom University, Indonesia</li>
                    <li>2009 - Bachelor, Telkom University, Indonesia</li>
                </ul>
            </div>
            <div class="w-1/2 p-4">
                 <h3 class="font-semibold text-2xl mb-2">EXPERIENCES</h3>
                 <h2 class="text-xl font-semibold">2017-2018</h2>
                 <p>Research Product Manager, Bandung Techno Park, Telkom University</p><br>

                 <h2 class="text-xl font-semibold">2023-NOW</h2>
                 <p>Head of the Green Technology Center of Excellence, Telkom University</p>
            </div>
        </div>

    </div>
        
</section>


{% endblock %}